@import '../../../styles/variables.scss';

.ClassList {
    margin: 0 auto;
    border: 1px solid $light-white;
    cursor: pointer;
    border-radius: 3px;
    -webkit-box-shadow: 6px 10px 10px -8px rgba(0,0,0,0.08);
    -moz-box-shadow: 6px 10px 10px -8px rgba(0,0,0,0.08);
    box-shadow: 6px 10px 10px -8px rgba(0,0,0,0.08);
    max-width: 800px;
    overflow: auto;
    .Class {
       
        transition: 0.1s ease;
        padding: 15px;
        display: flex;
        border-bottom: 1px solid $light-white;
        p {
            margin-right: 10px;
            font-size: 17px;
            height: max-content;
        }
        h4 {
            width: 100%;
            text-align: center;
            font-size: 16px;
            margin: 0;
        }
    }
    .Class.Title {
        background-color: $white;
        h3 {
            margin: 0;
            font-size: 17px;
        }
    }

    .Class:last-child {
        border: none;
    }

    .Class:hover {
        background-color: $primary-color;
        p, h4 {
            color: $white
        }
    }
    .Class.Active {
        background-color: $primary-color;
        p, h4 {
            color: $white
        }
    }

    .Class:hover:first-child {
        cursor: initial;
        background-color: $white;
        p, h4 {
            color: $black;
        }
    }
}

@media only screen and (min-width: 600px) {
    .ClassList {
        .Class {
            h4 {
                font-size: 17px;
            }
        }
        .Class.Title {
            h3 {
                font-size: 19px;
            }
        }
    }
}