@import '../../styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Asap&family=Catamaran:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

section {
    margin: 50px auto;
    min-height: 800px;
    width: $phone-width;
}

h1, h2, h3, h4, h5, label {
    color: $black;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
}
a, p, textarea, input {
    font-family: 'Asap', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0 auto 30px auto;
}

hr { 
    margin: 10px 0;
    border: 1px solid $light-white;
    border-bottom: 0px;
}
p {
    color: $grey;
}

.Title {
    margin: 0 auto;
}

@media only screen and (min-width: 767px) {
    section {
        width: $tablet-width;
    }
}

@media only screen and (min-width: 1000px) {
    section {
        width: $desktop-width;
    }
}




