@import '../../styles/variables.scss';


section {
    margin: 50px auto;
    min-height: 800px;
    width: $phone-width;
}

h1, h2, h3, h4, h5 {
    color: $black;
    width: fit-content;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0 auto 30px auto;
}

hr { 
    margin: 10px 0;
    border: 1px solid $light-white;
    border-bottom: 0px;
}
p {
    color: $grey;
}

.Title {
    margin: 0 auto;
}

@media only screen and (min-width: 767px) {
    section {
        width: $tablet-width;
    }
}

@media only screen and (min-width: 1000px) {
    section {
        width: $desktop-width;
    }
}




