@import '../../../styles/variables.scss';

.PaginateBtn {
    background-color: $white;
    padding: 10px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bolder;
    border: 1px solid $grey;
    i{
        color: $grey;
    }
    cursor: pointer;
    transition: 0.2s ease;
}
.PaginateBtn:hover {
    background-color: $lightBlack;
    i {
        color: $light-white;
    }
}