.Toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Logo {
        width: 80px;
        height: auto;
    }
    .NavItems {
        display: flex;
        h3 {
            font-weight: 500;
            margin-right: 15px;
            font-size: 18px;
        }
    }

    .Btn:last-child {
        margin: 0;
    }
    
}

@media only screen and (min-width: 600px) {
    .Toolbar {
        .Logo {
            width: 90px;
        }
    }
}