$primary-color: #214EA4;
$primary-dark: #17356e;
$secondary-color: #a8252b;

$tertiary-color: #2ca159;
$tertiary-dark: rgb(0, 143, 69);

$black: rgb(44, 44, 44);
$lightBlack: rgb(51, 51, 51);
$white: rgb(250, 250, 250);
$light-white: rgb(219, 219, 219);

$grey: rgb(75, 75, 75);
$light-grey: rgb(163, 163, 163);

//section limit 
$phone-width: 85%;
$tablet-width: 650px;
$desktop-width: 1000px;
