$primary-color: #3799c7;
$primary-dark: #0072be;

$tertiary-color: #009eb9;
$tertiary-dark: rgb(0, 95, 95);


$black: rgb(44, 44, 44);
$lightBlack: rgb(51, 51, 51);
$white: rgb(250, 250, 250);
$light-white: rgb(219, 219, 219);

$grey: rgb(75, 75, 75);
$light-grey: rgb(163, 163, 163);

//section limit 
$phone-width: 85%;
$tablet-width: 650px;
$desktop-width: 1000px;
