@import '../../../styles/variables.scss';

.Button {
    position: relative;
    border: none;
    border-radius: 3px;
    padding: 7px 10px;
    height: fit-content;
    background-color: $tertiary-color;
    transition:  0.1s ease;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: 14px;
}

.Button:hover {
    padding: 8px 11px;
    background-color: $tertiary-dark;
    font-size: 15px;
}

.Button:active {
    padding: 7px 10px;
    font-size: 14px;
}