@import '../../../styles/variables.scss';

.Button {
    border: none;
    border-radius: 3px;
    padding: 7px 10px;
    height: fit-content;
    background-color: $tertiary-color;
    transition:  0.1s ease;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: 14px;
}

.Button:hover {
    background-color: $tertiary-dark;
}

