@import '../../styles/variables.scss';

.Course {
    margin-top: 25px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    width:300px;
    -webkit-box-shadow: 6px 10px 10px -8px rgba(0,0,0,0.08);
    -moz-box-shadow: 6px 10px 10px -8px rgba(0,0,0,0.08);
    box-shadow: 6px 10px 10px -8px rgba(0,0,0,0.08);
    height: 240px;
    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 168px;
        object-fit: cover;
        transition: 0.3s ease;
        cursor: pointer;
        
    }
    h4 {
        padding-left: 10px;
        cursor: pointer;
    }
    p {
        padding: 0 0 5px 10px;
        font-size: 14px;
    }

    img:hover {
        filter: brightness(80%);
    }
    h4:hover {
        color: $primary-color
    }
}