@import '../../../styles/variables.scss';

.Item {
    padding: 10px 16px;
    h3 {
        color: $lightBlack;
        font-size: 17px;
        margin: 0;
    }
}
.Item.Active {
    border-bottom: 2px solid $grey;
}