@import '../../../styles/variables.scss';

.Input {
    width: 100%;
    .Label {
        margin-bottom: 5px;
        label {
        font-weight: 500;
        font-size: 17px;
        color:  $lightBlack;

        }
    }
    textarea, input {
        padding: 6px;
        display: block;
        width: 100%;
        resize: none;
        font-size: 13px;
    }

    textarea {
        border-radius: 3px;
        border: 1px solid $light-grey;

    }

    input {
        border: 1px solid $light-grey;
        border-radius: 3px;
    }
    textarea:focus, input:focus {
        border: 2px solid $primary-color;
        outline: none;
        
    }
}