@import '../../../styles/variables.scss';

.Input {

    label {
        font-weight: 500;
        font-size: 17px;
        color:  $lightBlack;
    }
    textarea, input {
        margin-top: 5px;
        padding: 6px;
        display: block;
        width: 100%;
        resize: none;
    }

    textarea {
        border-radius: 3px;
        border: 1px solid $light-grey;
    }

    input {
        border: 1px solid $light-grey;
        border-radius: 3px;
    }
    textarea:focus, input:focus {
        border: 2px solid $primary-color;
        outline: none;
        
    }
}