@import '../../styles/variables.scss';

.Class { 
    display: flex;
    width: 95%;

    .Main {
        width: 100%;

        
    }
    .Side {
        display: none;
    }

    .Video {
        position: relative;
        padding-bottom: 56.25%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            }
    }

    h3 {
        font-size: 20px;
        margin: 15px auto 15px auto;
    }
    h5 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .Navigation {
        border-radius: 3px;
        margin: 10px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(240, 240, 240);
        
        .Items {
            display: flex;
            .ClassesItem {
                display: block;
            }
            
        }
    }
}


.Sections {
    border: 1px solid $light-white;
    border-radius: 3px;
    padding: 15px 5%;
    margin: 0 auto;
    a {
        color: $primary-color;
        display: block;
        margin: 5px 0;
    }
    h4 {
        font-size: 17px;
        margin-bottom: 20px;
        white-space: nowrap;
        color: $lightBlack;
        
    }
    p {
        font-size: 15px;
        white-space: pre-line;
    }
}



@media only screen and (min-width: 767px) {
    .Class {
        width: $tablet-width;
 
        .Navigation {
            margin: 10px 0;
            .Items {
                .Item {
                    h3 {
                        font-size: 19px;
                    }
                    
                }
            }
        }
    }

    .Sections {
        h4 {
            font-size: 19px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .Class {
        width: $desktop-width;
        .Main {
            width: 70%;
            margin-right: 10px;
            .Navigation {
                .Items {
                    .ClassesItem {
                        display: none;
                    }
                }
            }
        }
        .ClassList {
            display: none;
        }

        .Side {
            display: block;
            width: 30%;
        }
        
    }

    
}

